<!DOCTYPE html>
<html style="overflow-x:auto;" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-3">
                <!-- Информация о пользователе -->
                {% if user.is_authenticated %}
                    <div class="form-control">

                        Пользователь:
                        {{ user }} <br>
                        <a href="{% url 'logout' %}">Выйти</a>
                    
                    </div>
                {% else %}
                    <div class="form-control">

                        <a href="{% url 'login' %}">Войти</a>
                        |
                        <a href="{% url 'login' %}">Зарегестрироваться</a>
                    </div>
                {% endif %}
                <!--  -->

                <!-- Прием тескта -->
                {% for field in  form %}
                    {% if field != form.image %}
                        <div class="form-control">
                            {{ field.label_tag }}
                            <label for="{{ field.id_for_label }}"></label>
                            <div>
                                {{ field }}
                            </div>
                            {{ field.errors }}
                        </div>
                    {% endif %}
                {% endfor %}
                <!--  -->

                <!-- Ссылки на смену шаблона или загрузки своей картинки -->
                <div class="form-control">
                    <b class="text-danger">!!! Текущая история будет удалена! !!!</b>
                    <a href="{% url 'temp_change' %}">Выбрать дргуой шаблон</a> <br>
                    <a href="{% url 'upload_image' %}">Загрузить свою картинку</a> <br>
                    <b class="text-danger">!!! Текущая история будет удалена! !!!</b>
                </div>
                <!--  -->

                <!-- x, y -->
                <div class="form-control">
                    x = {{ x }}
                    <input type="hidden" name="user.x" value="{{ x }}">
                    <br>
                    y = {{ y }}
                    <input type="hidden" name="user.y" value="{{ y }}">
                </div>
                <!--  -->

                <!-- Redirect to edit image -->
                <div class="form-control">
                    <input type="submit" value="Нарисовать" formaction="{% url 'edit' %}">
                    <a href="{{ current_image }}" download="">Скачать</a>
                </div>
                <!--  -->

                <!-- Story -->
                <form action="{% url 'choose_story_template' %}">
                </form>
                <form action="{% url 'choose_story_template' %}" method="post">
                    {% csrf_token %}
                    <div class="form-control">
                        {% for item in story %}
                        <div>
                            <label for="{{ item.pk }}">
                                <input type="radio" name="story" id="{{ item.pk }}" value="{{ item.pk }}">
                                <img src="{{ item.image.url }}" alt="" width="100">
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <input type="submit" value="Story!">
                </form>
                <!--  -->
            </div>
            <!-- Текущая картинка -->
            <div class="col-9">
                <input type="image" src="{{ current_image }}">                
            </div>
            <!-- Текущая картинка -->
        </div>
    </form>
</body>
</html>
